#zooHeader {
   position: relative;
   width: 50%;
   height: 300px;
   margin: auto;
}

#zooHeader div {
   display: inline-block;
   width: 50px;
  vertical-align: text-top;
  text-align: center;
  height: 225px;
  position: absolute;
  left: 50%;
  transform-origin: bottom;
  font-size: 30px;
  font-family: 'Cinzel Decorative', cursive;
}

#gateclosed {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 1;
   
}

#gateopened {
   position: absolute;
   left: 50%;
   top: 50%;
   display: none;
   z-index: 1;
}
#zoomap {
   width: 500px;
   height: 300px;
   position: relative;
   background: url("plainmap.png") center;
   background-size: cover;
   margin: auto;
   
}

#aapmap {
   height: 26px;
   width: 26px;
   background-image: url("aapimg.png");
   position: absolute;
   margin-left: 75px;
   margin-top: 225px;
}

#aapinfo {
   height: 100px;
   width: 100px;
   background-color: white;
   border: 1px solid black;
   position: absolute;
   margin-left: 0px;
   margin-top: 0px; 
   display: none;   
}